@import './assets/styles/variables.scss';
@import './assets/styles/reset.scss';
@import './assets/styles/mixins.scss';
@import './assets/styles/sections/hero-section.scss';

.container {
	padding: 100px 35px;
	width: 100%;
}

.job-offers {
	display: flex;
	justify-content: center;

	&__top {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__h2 {
		@include h2-style;
		text-align: center;
	}

	&__description {
		font-size: $font-size-largeS;
		text-align: center;
		margin: 0 auto;
		margin-top: 40px;
		width: 250px;
		font-weight: 700;
		line-height: 30px;
	}

	&__right {
		display: flex;
		align-items: end;

		&--event {
			display: flex;
			cursor: pointer;
			width: 100%;
			justify-content: center;
			flex-direction: column-reverse;
			margin-top: 50px;
		}
	}

	&__arrow {
		position: relative;
		align-self: flex-start;
		margin-top: -20px;
		width: 60px;
		display: none;
		justify-content: center;
	}

	&__icon {
		filter: brightness(0);
		width: 29px;
		height: 29px;
		position: relative;
		top: 0;
		transition: top 0.1s ease-in-out;
	}

	&__line {
		height: 20px;
		background-color: black;
		transition: top 0.2s ease-in-out;
		width: 4px;
		top: 0;
		position: absolute;
	}

	&__link {
		font-size: $font-size-large;
		text-align: center;
		font-weight: 700;
		line-height: 30px;
		display: block;
		transition: color 0.3s ease-in-out;
		width: 140px;
		margin: 0 auto;
	}
	&__link:hover {
		color: black;
	}
	&__link:active {
		color: $color-secondary;
	}
	&__link:visited {
		color: black;
	}
}

/* MEDIA */

@media (min-width: 568px) {
	.job-offers {
		&__top {
			flex-direction: row;
		}

		&__h2 {
			text-align: left;
		}

		&__description {
			text-align: left;
			margin: 40px 0 0 0;
		}

		&__right {
			align-items: end;

			&--event {
				flex-direction: row;
				margin-top: 0;
			}
		}

		&__link {
			text-align: left;
		}

		&__arrow {
			display: flex;
		}
	}
}

@media (min-width: 650px) {
	.container {
		padding: 100px 50px;
	}
}

@media (min-width: 768px) {
	.container {
		padding: 100px 75px;
	}

	.job-offers {
		&__h2 {
			font-size: 64px;
			line-height: 60px;
		}

		&__description {
			font-size: $font-size-large;
			font-weight: 700;
			line-height: 30px;
		}
	}
}

@media (min-width: 900px) {
	.job-offers {
		&__top {
			justify-content: space-around;
		}

		&__description {
			width: 100%;
		}
	}
}
