@import './assets/styles/variables.scss';
@import './assets/styles/reset.scss';
@import './assets/styles/mixins.scss';
@import './assets/styles/sections/hero-section.scss';
@import './assets/styles/sections/offers-section.scss';

.faq{
	background-color: $background-blue;

	&__h2{
		@include h2-style;
		color: $background-color_1;
	}
}




@media (min-width: 768px) {
	.faq{
		display: flex;
		justify-content: center;

		&__h2 {
			margin-top: 33px;
			font-size: 64px;
			line-height: 60px;
			text-align: center;
		}
	}
}
