@mixin button-reset {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

@mixin button-style {
	background-color: $background-color_1;
	width: 142px;
	height: 42px;
	border-radius: 84px;
	margin-right: 17px;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	transition: background 0.3s ease-in-out;
}

@mixin h1-style {
	width: 312px;
	font-size: 48px;
	line-height: 65px;
	font-weight: 700;
	color: $background-color_1;
}

